<div class="breaker newsletter-module">
  <h3>Stay up to date with the community</h3>
  <div class="newsletter">
    <form class="newsletter-form">
      <div class="input-wrapper">
        <input type="text" name="email" class="nemail" placeholder="Email Address" />
        <input type="submit" class="rbldup simple-btn white nsubscribe" value="Subscribe" />
      </div>
      <div class="errors"></div>
    </form>
  </div>
</div>