<header class="header">
  <div class="nav-wrapper">
    <div class="logo"><h1 class="txt-logo">CodeNewbie</h1></div>
    <div class="menu-btn">
      <span class="hamburger">
        <span class="one"></span>
        <span class="two"></span>
      </span>
      <span class="hamburger-txt rbldup">Menu</span>
    </div>
  </div>
  <div class="main-nav">
    <%= render partial: "modules/social_links" %>
    <ul>
      <li class="rbldup"><a href="">Podcast</a></li>
      <li class="rbldup"><a href="">Sponsor</a></li>
      <li class="rbldup"><a href="">About</a></li>
      <li class="rbldup"><a href="">Sign In</a></li>
      <li class="rbldup join-btn"><a href="">Join</a></li>
    </ul>
  </div>
</header>