<div class="social-links">
  <div class="social-txt">
    <span class="rbldup">Connect <span class="hideable">With Us</span></span>
  </div>
  <div class="social-icons">
    <a href="https://twitter.com/CodeNewbies" target="_blank"><span class="twitter-icon"></span></a>
    <a href="https://www.youtube.com/channel/UCbXUBg9BN5jAZQgH1GylC4g" target="_blank"><span class="youtube-icon"></span></a>
    <a href="https://codenewbie.typeform.com/to/uwsWlZ" target="_blank"><span class="slack-icon"></span></a>
    <a href="https://plus.google.com/114643825156315739979" target="_blank"><span class="googleplus-icon"></span></a>
  </div>
</div>