<aside class="sidebar home">
  <div class="inner-wrapper">
    <div class="top">
      <div class="main-top">
        <div class="info">
          <p><strong>We are</strong> the most supportive community of programmers and people learning to code.</p>
        </div>
        <div class="newbies-wrapper">
          <div class="newbies">
            <div class="newbie"><img src="https://pbs.twimg.com/profile_images/579079899656241152/g5xBru60_400x400.jpg" /></div>
            <div class="newbie"><img src="https://pbs.twimg.com/profile_images/579079899656241152/g5xBru60_400x400.jpg" /></div>
            <div class="newbie"><img src="https://pbs.twimg.com/profile_images/579079899656241152/g5xBru60_400x400.jpg" /></div>
            <div class="newbie"><img src="https://pbs.twimg.com/profile_images/579079899656241152/g5xBru60_400x400.jpg" /></div>
            <div class="newbie"><img src="https://pbs.twimg.com/profile_images/579079899656241152/g5xBru60_400x400.jpg" /></div>
          </div>
          <a href="/members" class="rbldup members-link">See All Members</a>
        </div>
      </div>
      <div class="toggle-parent rules">
        <h3>Community Rules
          <a href="/code-of-conduct" class="title-link rbldup">Code of Conduct <span class="carat">></span></a>
          <span class="more-arrow"></span>
        </h3>
        <div class="toggle-child">
          <ol>
            <li>Be Nice</li>
            <li>Be Honest</li>
            <li>Be Helpful</li>
            <li class="link"><a href="/code-of-conduct" class="title-link rbldup">Code of Conduct <span class="carat">></span></a></li>
          </ol>
        </div>
      </div>
    </div>
    <div class="btm">
      <div class="toggle-parent meetups">
        <h3>Meetups <span class="more-arrow"></span></h3>
        <div class="toggle-child img-wrapper">
          <%= image_tag("meetups-map.png") %>
        </div>
      </div>
      <%= render partial: "modules/social_links" %>
    </div>
  </div>
</aside>